[submodule "BirdsEye"]
	path = BirdsEye
	url = https://github.com/Idzikowski-Casey/BirdsEye.git
[submodule "dacite/deps/web-components"]
	path = dacite/deps/web-components
	url = https://github.com/UW-Macrostrat/web-components.git
