[submodule "dacite/deps/ui-components"]
	path = dacite/deps/ui-components
	url = https://github.com/UW-Macrostrat/ui-components.git
[submodule "BirdsEye"]
	path = BirdsEye
	url = https://github.com/Idzikowski-Casey/BirdsEye.git
