.page {
  margin: 10px;
}
.strat-name-con {
  display: flex;
  align-items: baseline;
}
.strat-name {
  margin: 0;
}
.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
